{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle }}
                </p>

                <div class = "col-md-4 col-sm-6" align = "center">
                  <h2>Platinum</h2>
                </div>
                <div class = "col-md-8 col-sm-6">
                <!-- <ul class="owl&#45;carousel customers"> -->
                  <ul>
                      {{ range .Site.Data.clients.platinum }}
                      <li style="list-style-type: none; width: 620px; min-height: 120px; max-height: auto; padding-bottom: 60px;" title="{{ .name }}" class = "img-responsive">
                          {{ if .url }}
                            <a href="{{ .url }}" target="_blank">
                              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                            </a>
                          {{ else }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          {{ end }}
                      </li>
                      {{ end }}
                  </ul>
                </div>
                <!-- /.owl-carousel -->
                <div class = "col-md-4 col-sm-6" align = "center">
                  <h2>Pro-networker</h2>
                </div>
                <div class = "col-md-8 col-sm-6">
                <!-- <ul class="owl&#45;carousel customers"> -->
                  <ul>
                      {{ range .Site.Data.clients.pronetworker }}
                      <li style="list-style-type: none; float: left; width: 320px; min-height: 120px; max-height: auto; padding-bottom: 60px;" title="{{ .name }}" class = "img-responsive">
                          {{ if .url }}
                            <a href="{{ .url }}" target="_blank">
                              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                            </a>
                          {{ else }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          {{ end }}
                      </li>
                      {{ end }}
                  </ul>
                </div>
                <!-- /.owl-carousel -->
                <!-- <div class = "col&#45;md&#45;4 col&#45;sm&#45;6" align = "center"> -->
                <!--   <h2>Silver</h2> -->
                <!-- </div> -->
                <!-- <div class = "col&#45;md&#45;8 col&#45;sm&#45;6"> -->
                <!-- <!&#45;&#45; <ul class="owl&#38;#45;carousel customers"> &#45;&#45;> -->
                <!--   <ul> -->
                <!--       {{ range .Site.Data.clients.silver }} -->
                <!--       <li style="list&#45;style&#45;type: none; float: left; width: 320px; min&#45;height: 120px; max&#45;height: auto; padding: 20px;" title="{{ .name }}"> -->
                <!--           {{ if .url }} -->
                <!--             <a href="{{ .url }}" target="_blank"> -->
                <!--               <img src="{{ .image }}" alt="{{ .name }}" class="img&#45;responsive" /> -->
                <!--             </a> -->
                <!--           {{ else }} -->
                <!--             <img src="{{ .image }}" alt="{{ .name }}" class="img&#45;responsive" /> -->
                <!--           {{ end }} -->
                <!--       </li> -->
                <!--       {{ end }} -->
                <!--   </ul> -->
                <!-- </div> -->
                <!-- <!&#45;&#45; /.owl&#45;carousel &#45;&#45;> -->
                <!-- <div class = "col&#45;md&#45;4 col&#45;sm&#45;6" align = "center"> -->
                <!--   <h2>Bronze</h2> -->
                <!-- </div> -->
                <!-- <div class = "col&#45;md&#45;8 col&#45;sm&#45;6"> -->
                <!-- <!&#45;&#45; <ul class="owl&#38;#45;carousel customers"> &#45;&#45;> -->
                <!--   <ul> -->
                <!--       {{ range .Site.Data.clients.bronze }} -->
                <!--       <li style="list&#45;style&#45;type: none; float: left; width: 320px; min&#45;height: 120px; max&#45;height: auto; padding: 20px;" title="{{ .name }}"> -->
                <!--           {{ if .url }} -->
                <!--             <a href="{{ .url }}" target="_blank"> -->
                <!--               <img src="{{ .image }}" alt="{{ .name }}" class="img&#45;responsive" /> -->
                <!--             </a> -->
                <!--           {{ else }} -->
                <!--             <img src="{{ .image }}" alt="{{ .name }}" class="img&#45;responsive" /> -->
                <!--           {{ end }} -->
                <!--       </li> -->
                <!--       {{ end }} -->
                <!--   </ul> -->
                <!-- </div> -->
                <!-- <!&#45;&#45; /.owl&#45;carousel &#45;&#45;> -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
