/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.bar.background-pentagon {
  background: url('../img/bg-pkgs.png') center center repeat;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
}

.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
}

.bar.background-image-fixed-2 {
  background: url('../img/user2018.png') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home-carousel {
  position: relative;
  background: url('../img/bg.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 2.0s ease-out;
  -moz-transition: all 2.0s ease-out;
  transition: all 2.0s ease-out;
}

.home-carousel h1 {
  font-weight: 700;
  text-transform: none;
  font-size: 46px;
  letter-spacing: 0.08em;
}

.testimonials .item .testimonial .name-picture {
  float: right;
  width: 100%;
  text-align: left;
}

.testimonials .item .testimonial .icon {
    display: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: square; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 15px; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .nav > li.disabled > a {
      color: #bbb; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #bbb;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #5a9ddb; }
  .nav .nav-divider {
    height: 1px;
    margin: 12.5px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .nav > li > a > img {
    max-width: none; }

.nav-pills > li {
  float: left; }
  .nav-pills > li > a {
    border-radius: 3px; }
  .nav-pills > li + li {
    margin-left: 2px; }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #5a9ddb; }

.nav-stacked > li {
  float: none; }
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; }


/* The checkcontainer */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.button {
  background-color: #2196F3;
  /* background-color: #4CAF50; */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
